
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    padding-bottom: 75px;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: 550;
}

.header-link {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
}


.hero-content h3 {
    font-size: 48px;
    font-weight: bolder;
    line-height: 90%;
}

.hero {
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    gap: 200px;
}

.myButton {
	background-color:#3882f6;
	border-radius:28px;
	border:1px solid #3882f6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.sec-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 25px;
    padding-bottom: 50px;
}

.image-desc {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img-sec img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 2px solid #3882f6;
}

